{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

  <div class="container">
    <p style="margin-bottom:35px;margin-top:14px;font-size:18px;"><font style="font-size:25px;font-weight:600;margin-right:10px;">Contact Info</font></p>
    <div class="faqs">
       <p><b>Nick Roberts</b></p>
       <p>narobert@ucsd.edu</p>
       <br>
       <p><b>Ming Cheng</b></p>
       <p>mic023@ucsd.edu</p>
       <br>
       <p><b>Doris Liu</b></p>
       <p>yul094@ucsd.edu</p>
       <br>
    </div>
  </div>

{% endblock %}

{% block extra-js %}
{% endblock %}
