{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<div class="padded"></div>

<div class="container">
  <p style="margin-bottom:50px;margin-top:14px;font-size:18px;"><font style="font-size:25px;font-weight:600;margin-right:10px;">step 1: </font> write about an experience you've had or just a feeling, mayne</p>
  <center>
    <form method="POST" action="/submit/" id="formid">
      <input class="input-block-level" id="inputBox" type="text" name="title" placeholder="Give your story an inspiring title" required></input>
      <textarea class="input-block-level" id="textbox" type="text" name="paragraph" placeholder="Now write, damn it!" required></textarea>
      <button class="btn btn-large bottoms" name="submit" type="submit">Move to step two!</button>
    </form>
  </center>
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
