{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

  <div class="container">
    <p style="margin-bottom:35px;margin-top:14px;font-size:18px;"><font style="font-size:25px;font-weight:600;margin-right:10px;">Help and FAQ</font></p>
    <div class="faqs">
       <p><b>Q: What is linerub?</b></p>
       <p>Linerub is a new and creative way to interact with friends. Nowadays users have complete control over their posts. At Linerub, we encourage collaboration: one user writes a post, other users tag that post with pictures. It's simple, interactive, and legal.</p>
       <br>
       <p><b>Q: Who came up with the name linerub?</b></p>
       <p>A: We did.</p>
       <br>
       <p><b>Q: How do I create a story?</b></p>
       <p>A: It’s simple! Expand the sidebar by clicking on the top-right button, and then click “Share a story”. You can create a post in 2 simple steps!</p>
       <br>
       <p><b>Q: How do other users add pictures to my story?</b></p>
       <p>A: In Step 2 you can add tags by selecting words. These words can be tagged with pictures by anyone that views your post.</p> 
       <br>
       <p><b>Q: How do I view pictures on other posts?</b></p>
       <p>A: Click on a post. The post box will expand and all uploaded pictures will appear. View pictures by clicking on highlighted words.</p>
       <br>
       <p><b>Q: How do I add pictures to other posts?</b></p>
       <p>A: After the post expands, click on the “add pics!” button on the top right corner of the post box. Select any of the highlighted words and follow the instructions.</p>
       <br>
       <p><b>Q: Where can I view my published posts and drafts?</b></p>
       <p>A: Click on the “My stories” tab in the sidebar.</p>
       <br>
       <p><b>Q: Where can I view my profile?</b></p>
       <p>A: Click on the “View my profile” tab in the sidebar.</p>
       <br>
       <p><b>Q: What does the “exchange!” button do?</b></p>
       <p>A: Glad that you asked! By clicking on “exchange!”, you will get a random story from a random Lineruber! You can “like” the post and follow the user.</p>
       <br>
       <p><b>Q: Can I edit or delete my published posts?</b></p>
       <p>A: Of course you have the freedom to delete your own post! Unfortunately, you can only edit the tags that you selected. So...edit well in your draft! ;)</p>
       <br>
       <p>More Questions? Contact us&nbsp; <a class="linkme" href="/contact/">here</a></p>
       <br><br>
    </div>
  </div>

{% endblock %}

{% block extra-js %}
{% endblock %}
