{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<div class="padded"></div>

<div class="container">
  <p style="margin-bottom:50px;margin-top:14px;font-size:18px;"><font style="font-size:25px;font-weight:600;margin-right:10px;">step 2: </font> click on the words that best emphasize your story or feeling</p>
  <div class="nextObject">
    <div class="containmer">
      <div class="appendedtext"></div>
    </div>
    <div class="textparter">
      <center>
      {% for w, i, p in title %}
        <p id="awesome{{i}}" class="format">{{w}}</p>
      {% endfor %}
      </center>
      {% for n, c, l in template %}
        <br>
        {% for word, index, pos in paragraph %}
          {% if pos == c %}
            <p id="awesomer{{index}}" class="format">{{word}}</p>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <form method="POST" action="/highlightw/{{id}}/" id="formout">
    <input class="input-block-level" type="text" id="highlights" name="highlight" required></input>
  </form>
  <center><button class="btn btn-large bottoms" name="submit" type="submit" form="formout">Publish</button></center>
</div>

{% endblock %}

{% block extra-js %}

<script>

  $('#highlights').keydown(function() {
    return false;
  });

  {% for w, i in title %}

    $("#awesome{{i}}").click(function() {
        $(".containmer").slideDown("medium");
        if ($(this).css("font-weight") == "bold") {
            return false;
        }
        else {
            $(this).css("font-weight", "bold");
            $(this).css("text-decoration", "underline");
            var value = $(this).text();

            {% for a, b in title %}
            if ($("#awesome{{b}}").text() == value) {
                $("#awesome{{b}}").css("font-weight", "bold");
                $("#awesome{{b}}").css("text-decoration", "underline");
            }
            {% endfor %}

            var input = $("#highlights");
            input.val(input.val() + value + '  ');

            var appendedtext = $(".appendedtext");
            appendedtext.append("<div class=poopbox id=delete{{i}}><p class=deleteme><b>" + value + "</b><a style=inline-block;margin-left:7px;color:#3a5795;>x</a></p></div>");

            return false;
        }
    });

    $("#delete{{i}}").live("click", function() {
        $("#awesome{{i}}").css("font-weight", "normal");
        $("#awesome{{i}}").css("text-decoration", "none");
        var value = $("#awesome{{i}}").text();

        {% for a, b in title %}
        if ($("#awesome{{b}}").text() == value) {
            $("#awesome{{b}}").css("font-weight", "normal");
            $("#awesome{{b}}").css("text-decoration", "none");
        }
        {% endfor %}

        $(this).html("");
        $(this).css("border", "none");

        var input = $("#highlights");
        var appendedtext = $("div.appendedtext").text();
        var formtext = appendedtext.split('x').join('  ');
        input.val(formtext);

        return false;
    });

  {% endfor %}

  {% for word, index in paragraph %}

    $("#awesomer{{index}}").click(function() {
        $(".containmer").slideDown("medium");
        if ($(this).css("font-weight") == "bold") {
            return false;
        }
        else {
            $(this).css("font-weight", "bold");
            $(this).css("text-decoration", "underline");
            var value = $(this).text();

            {% for c, d in title %}
            if ($("#awesomer{{d}}").text() == value) {
                $("#awesomer{{d}}").css("font-weight", "bold");
                $("#awesomer{{d}}").css("text-decoration", "underline");
            }
            {% endfor %}

            var input = $("#highlights");
            input.val(input.val() + value + '  ');

            var appendedtext = $(".appendedtext");
            appendedtext.append("<div class=poopbox id=delete{{index}}><p class=deleteme><b>" + value + "</b><a style=inline-block;margin-left:7px;color:#3a5795;>x</a></p></div>");

            return false;
        }
    });

    $("#delete{{index}}").live("click", function() {
        $("#awesomer{{index}}").css("font-weight", "normal");
        $("#awesomer{{index}}").css("text-decoration", "none");
        var value = $("#awesomer{{index}}").text();

        {% for c, d in title %}
        if ($("#awesomer{{d}}").text() == value) {
            $("#awesomer{{d}}").css("font-weight", "normal");
            $("#awesomer{{d}}").css("text-decoration", "none");
        }
        {% endfor %}

        $(this).html("");
        $(this).css("border", "none");

        var input = $("#highlights");
        var appendedtext = $("div.appendedtext").text();
        var formtext = appendedtext.split('x').join('  ');
        input.val(formtext);

        return false;
    });

  {% endfor %}

</script>

{% endblock %}
